@import "tailwindcss";



@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&family=Roboto:wght@400;700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  @apply leading-none;
  @apply tracking-tighter;
}
h1, h2, h3, h4, h5, h6, .font-outfit {
  font-family: 'Outfit', sans-serif;
  @apply leading-none;
  @apply tracking-tighter;
  
}
.font-roboto {
  font-family: 'Roboto', sans-serif;
}

@theme {
  --color-surestead-green: #d6f5b0;
  --color-surestead-green-hover: #8dc126;
  --color-surestead-dark: #606060;
  --color-surestead-gray: #A0A0A0;
  --color-surestead-lightgray: #f1f2f2;
}

/* Custom utility classes */
@layer utilities {
  .text-heading-xl {
    font-size: 5.58rem; /* 67pt */
    line-height: 5.67rem; /* 68pt */
    font-family: 'Outfit', sans-serif;
  }

  .text-body-lg {
    font-size: 2.08rem; /* 25pt */
    line-height: 3.33rem; /* 40pt */
    font-family: 'Roboto', sans-serif;
  }

  .text-hero-md {
    font-size: 3.5rem;
    line-height: 5.16rem;
  }

  .text-subhead {
    font-size: 2.75rem;
    line-height: 3.33rem;
  }

  .text-surestead-green {
    color: #d6f5b0;
  }

  .bg-surestead-dark {
    background-color: #606060;
  }
}

#mobileMenu {
  height: 100vh;
}

#closeButton {
    margin-top: -65px;
    margin-right: 7px;
}

#navMenu li a:hover {
  color: #8dc126;
} 

button:hover {
  background-color: #8dc126;
}


@media (max-width: 1200px) {
  .responsive-hero {
    font-size: 3.25rem;
    line-height: 3.5rem;
  }
  .text-body-lg {
    font-size: 1.5rem;
    line-height: 2.5rem;
  }
  .text-hero-md {
    font-size: 2.5rem;
    line-height: 3.5rem;
  }
}

@media (max-width: 768px) {
  .text-body-lg {
    font-size: 1.2rem;
    line-height: 2.5rem;
  }
  .text-hero-md {
    font-size: 2.5rem;
    line-height: 3.5rem;
  }
}
