@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&family=Roboto:wght@400;700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  @apply leading-none;
  @apply tracking-tighter;
}
h1, h2, h3, h4, h5, h6, .font-outfit {
  font-family: 'Outfit', sans-serif;
  @apply leading-none;
  @apply tracking-tighter;
  
}
.font-roboto {
  font-family: 'Roboto', sans-serif;
}

@theme {
  --color-surestead-green: #d6f5b0;
  --color-surestead-dark: #444444;
  --color-surestead-gray: #A0A0A0;
}