---
import '../styles/global.css';
---


<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Surestead Properties</title>
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
  </head>
  <body class="bg-gray-100 text-gray-900">
    <header class="bg-surestead-dark text-white shadow py-4 px-6">
      <nav class="max-w-5xl mx-auto flex justify-between">
        <picture>
          <img src="/SPS_logo_dark.svg" alt="Surestead Logo" class="h-10 w-auto" />
        </picture>
        <ul class="flex space-x-6">
          <li><a href="/" class="hover:underline">About Us</a></li>
          <li><a href="/services" class="hover:underline">Our Services</a></li>
          <li><a href="/contact" class="hover:underline">Contact</a></li>
        </ul>
      </nav>
    </header>

    <main><slot /></main>

    <footer class="bg-white pt-24 py-6 text-center text-sm text-gray-500">
      © 2025 Surestead Property Services LLC. All rights reserved.
    </footer>
  </body>
</html>